// The Diez web compiler creates shared styles for Sass and CSS. The styles
// imported here can be found at `build/diez-jlg-demo-web/static/styles.scss`,
// relative to the project root.
@import '@diez/styles.scss';

body {
  @include token-typography-body();

  background-color: $token-palette-content-background;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: 400;
}
